{
  "NODE_ENV": "",
  "PORT": "3004",
  "DB_HOST": "127.0.0.1",
  "DB_NAME": "block-monitor",
  "DB_USER": "root",
  "DB_PASS": "",
  "JWT_SECRET": "123456",
  "JWT_ADMIN_SECRET": "654321",
  "PAY_TOKEN": "",
  "DOMAIN": "",
  "ADAPTOR_CONFIG": {
    "BN_KEY": "xxx-xx-xx-xx-xxxx",
    "BN_URL": "https://api.blocknative.com/address",
    "BN_ETH_NETWORK": "goerli"
  }
}