{
  "PORT": "3004",
  "DB_HOST": "127.0.0.1",
  "DB_NAME": "block-monitor",
  "DB_USER": "root",
  "DB_PASS": "",
  "JWT_SECRET": "123456",
  "JWT_ADMIN_SECRET": "654321",
  "PAY_TOKEN": "",
  "DOMAIN": "",
  "BN_KEY": "3e5ff176-7826-4b0c-bcdd-0e0134ff0c90",
  "BN_URL": "https://api.blocknative.com/address",
  "BN_NETWORK": "goerli",
  "WEBHOOK": "http://localhost:3004/api/v1/test_hook.json"
}